* {
  box-sizing: border-box;
}

body {
  color: $text-color;
  background-color: #383636;
  font-size: 1rem;
  line-height: 1.5;
  @include font-stack($fow: 400);
  margin: 0;
}

h1,
h2 {
  @include font-stack($fow: 900);
  color: $color-primary;
}

p {
  @include font-stack($fow: 700);
  color: $text-color;
  margin-bottom: 1.25em;
}

a {
  color: $color-secondary;
  text-decoration: none;
  &:hover {
    color: $color-accent;
    opacity: 0.8;
    transition: all 0.4s ease-in-out;
  }
}